{
  "plugins": ["@babel/plugin-transform-runtime"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.5%",
            "ie 11",
            "not op_mini all"
          ]
        }
      }
    ]
  ]
}
